/* Universal Selector */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

/* Nav Section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 30px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 1%;
    letter-spacing: 0.125em;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
        list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 5px;

}

li a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: transparent;
    transition: 1s;

}

li a:hover {
    cursor: pointer;
    text-decoration-color: white;


}


/* Banner */
.hero {
    background-image: url("../assets/images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
}

.hero .intro {
    position: relative;
    top: 40%;
    left: 20%;
    height: auto;
    width: 500px;

}

.intro h1 {
    color: white;
    font-size: 3em;
    word-spacing: 0.15em;
}

.intro h2 {
    color: lightgrey;
    font-size: 1.2em;
    margin-left: 2.5%;
    word-spacing: 0.15em;
}


